/* PROJECT COLORS */

:root {
  --background-color: hsl(0, 0%, 98%);
  --elements-color: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
}

[data-theme='dark'] {
  --background-color: hsl(207, 26%, 17%);
  --elements-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 100%);
}

/* DEFAULT SETTINGS */

* {
  color: var(--text-color);
  font-family: 'Nunito Sans', sans-serif;
}

/* CONTAINER */

.container {
  width: 1440px;
  background: var(--background-color);
}




/* SEARCH INPUT */

input::placeholder {
  color: var(--input-color);
}

input {
  background: var(--elements-color);
  border: none;
}

select {
  background: var(--elements-color);
}

/* MAIN */
