/* PROJECT COLORS */

:root {
  --background-color: hsl(0, 0%, 98%);
  --elements-color: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
}

[data-theme='dark'] {
  --background-color: hsl(207, 26%, 17%);
  --elements-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 100%);
}

/* DEFAULT SETTINGS */

body {
  background: var(--background-color);
}

* {
  color: var(--text-color);
  font-family: 'Nunito Sans', sans-serif;
}

/* SEARCH INPUT */

.filters {
  display: flex;
  justify-content: space-between;

  padding-top: 2em;
}

.search-icon {
  cursor: pointer;
}

input {
  background: var(--elements-color);

  border: none;

  width: 300px;
  height: 50px;
}

.search {
  margin-left: 4em;
  background: var(--elements-color);
}

.search-icon {
  margin: 1.2em 1.5em 0;
}

input::placeholder {
  color: var(--input-color);
}

select {
  margin-right: 4em;
  padding: 1.2em;

  background: var(--elements-color);
}

/* MAIN */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em 10em;
  margin: 3em;
}

.no-country {
  text-align: center;
  font-size: 20px;
}

@media (max-width: 1800px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1300px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .filters {
    flex-direction: column;
  }

  .search {
    display: flex;
  }

  input {
  }

  input::placeholder {
    font-size: 9px;
  }

  select {
    width: 300px;
    height: 50px;
  }

  .countries {
    grid-template-columns: 1fr;
  }
}
