.card {
  text-decoration: none;
}

.country {
  width: 320px;
  height: 400px;

  background: var(--elements-color);
}

.countries-name {
  font-weight: 800;
  font-size: 20px;
}

.title {
  font-weight: 600;
  font-size: 14px;
}

.info {
  font-weight: 300;
}

.text {
  margin: 1.5em;
}
