* {
  font-family: 'Nunito Sans', sans-serif;
}

.data-countries {
  height: 100vh;
}

.back {
  margin: 4em 3em;
  width: 120px;
  height: 30px;
}

.back-icon {
  margin-right: 0.5em;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.country-img {
  margin-left: 3em;
}

.country-info {
  margin-right: 4em;
}

.country-name {
  font-size: 30px;
  font-weight: 800;

  margin-bottom: 1em;
}

.paragraph:nth-child(-n + 8) {
  margin-bottom: 0.5em;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.info {
  font-size: 16px;
}
