.header {
  display: flex;
  justify-content: space-between;

  padding: 1.5em 0 1.5em 1.5em;

  background: var(--elements-color);
}

.logo {
  margin-left: 1.5em;

  font-weight: 800;
  font-size: 24px;

  cursor: pointer;
}

.button {
  cursor: pointer;

  font-weight: 300;
  border: none;
  background: var(--elements-color);
}

.dark-mode {
  margin-right: 4em;
}

.light-mode {
  margin-right: 4em;
}
